@{
    ViewData["Title"] = "Home Page";
}

<!-- start MAIN CARD -->
<div class="col-md-12 col-lg-9 ms-auto">
    <div class="row" dir="ltr">
        <!-- card start -->

        <div class="col-md-6 col-lg-6 p-2">
            <div class="bg-light shadow-sm rounded border p-2">
                <a class="link-ind-page d-flex justify-content-between" href="">
                    <div>
                        <img class="img-card" src="https://s101.divarcdn.com/static/pictures/1662608653/wYZQmt9o.jpg" alt="">
                    </div>
                    <div class="text-start d-flex flex-column justify-content-around ">
                        <h4 class="fs-8 p-2 text-black costumer-title">اجاق گاز مبله فردارچهارشعله خیلی تمیز</h4>
                        <div>
                            <span class="text-muted fs-8 fs-10 costumer-info-caption">در حد نو</span>
                            <br>
                            <span class="text-muted fs-8 fs-10 costumer-info-caption">850000تومان</span>
                            <br>
                            <span class="text-muted fs-8 fs-10 costumer-info-caption">لحاظی پیش درکرج</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!-- card start -->
    </div>
</div>
<!-- END MAIN CARD -->