<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/9acc533df2.js" crossorigin="anonymous"></script>
  <!-- icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!-- custom css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='user_posts/style.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static',filename='CSS/bootstrap.rtl.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='CSS/style-public.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='index-home/CSS/header.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='index-home/CSS/modal-city.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='index-home/CSS/style.css') }}" />
  
  <link rel="stylesheet" href="{{ url_for('static',filename='index-home/CSS/main-card.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='index-home/CSS/sidebar.css') }}" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title data-react-helmet="true">دیوار کرج: مرجع انواع نیازمندی و آگهی‌های نو و دست دو در شهر کرج</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://s100.divarcdn.com/static/thewall-assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://s100.divarcdn.com/static/thewall-assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://s100.divarcdn.com/static/thewall-assets/favicon-16x16.png">
  <link rel="mask-icon" href="https://s100.divarcdn.com/static/thewall-assets/safari-pinned-tab.svg" color="#a62626">
</head>

<body>


{% include "navbar/navbar.html" %}
<div class="container-fluid mt-5 pt-5">
  {% block body %}
  {% endblock %}
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}" id="csrf_token">
</div>

{% include "modals/all_modals.html" %}

  <!-- JavaScript Bundle with Popper -->
  <!-- <script src="JS/bootstrap.bundle.min.js"></script> -->
  <!-- <script src="JS/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='index-home/JS/script.js') }}"></script>
</body>

</html>