{% extends 'user-dashboard/base-user-posts.html' %}


{% block body %}

<div class="row">
    <div class="col-md-12 col-lg-9">
        <div class="mt-2 ">


        </div>
    </div>

    <div class="sidebar-user-posts col-md-3 position-fixed start-0 top-0 bottom-0 mt-5 pt-5 " id="sidbar-user-dashboard"
        dir="rtl">
        <div class="container w-100 h-100 d-flex flex-column">
            <div class="d-flex flex-column mt-2">

                <div class="fs-8 my-3 transition-all-1s  ">
                    <i class="bi bi-person"></i>
                    <span class="text-muted">کاربر دیوار</span>
                    <br>
                    <span class="text-muted fs-11">
                        تلفن 09331016879
                    </span>
                </div>

                {% if my_posts %}
                <div class="fs-8 my-3 transition-all-1s ">
                    <a href="{{url_for('my_posts')}}" class="text-brand transition-all-1s">
                        <i class="bi bi-box2 "></i>
                        <span class="">آگهی ها من</span>
                    </a>
                </div>
                {% else %}
                <div class="fs-8 my-3 transition-all-1s ">
                    <a href="{{url_for('my_posts')}}" class="text-muted text-black-hover transition-all-1s ">
                        <i class="bi bi-box2 "></i>
                        <span class="">آگهی ها من</span>
                    </a>
                </div>
                {% endif %}

                {% if my_bookmarks %}
                <div class="fs-8 my-3 transition-all-1s ">
                    <a href="{{url_for('my_bookmarks')}}" class="text-brand  transition-all-1s ">
                        <i class="bi bi-bookmark"></i>
                        <span class=" ">نشان شده ها</span>
                    </a>
                </div>
                {% else %}
                <div class="fs-8 my-3 transition-all-1s ">
                    <a href="{{url_for('my_bookmarks')}}" class="text-muted text-black-hover  transition-all-1s ">
                        <i class="bi bi-bookmark"></i>
                        <span class=" ">نشان شده ها</span>
                    </a>
                </div>
                {% endif %}


                {% if my_notes %}
                <div class="fs-8 my-3 transition-all-1s ">
                    <a href="{{url_for('my_notes')}}" class="text-brand transition-all-1s ">
                        <i class=" bi bi-journal-text"></i>
                        <span class="">یادداشت ها</span>
                    </a>
                </div>
                {% else %}
                <div class="fs-8 my-3 transition-all-1s ">
                    <a href="{{url_for('my_notes')}}" class="text-muted text-black-hover transition-all-1s ">
                        <i class=" bi bi-journal-text"></i>
                        <span class="">یادداشت ها</span>
                    </a>
                </div>
                {% endif %}



                {% if resent_seen %}
                <div class=" fs-8 my-2 transition-all-1s ">
                    <a href="{{url_for('my_resent_seen')}}" class="text-brand  transition-all-1s ">
                        <i class="bi bi-clock-history"></i>
                        <span class="">بازدید های اخیر</span>
                    </a>
                </div>
                {% else %}
                <div class=" fs-8 my-2 transition-all-1s ">
                    <a href="{{url_for('my_resent_seen')}}" class="text-muted text-black-hover  transition-all-1s ">
                        <i class="bi bi-clock-history"></i>
                        <span class="">بازدید های اخیر</span>
                    </a>
                </div>
                {% endif %}


                <div class="border-top border-bottom text-muted my-3 py-4 fs-8 transition-all-1s ">
                    <a href="" class="text-muted text-black-hover  transition-all-1s ">
                        <i class="bi bi-shop-window"></i>
                        <span class="">دیوار برای کسب و کار ها</span>
                    </a>
                </div>

                <div class="transition-all-1s py-2 my-2">
                    <a href="{{url_for('logout')}}" class=" text-muted  text-black-hover transition-all-1s ">
                        <i class="bi bi-box-arrow-right fs-8 "></i>
                        <span class="">خروج</span>
                    </a>
                </div>



            </div>
            <!-- footer START  -->
            <div class=" mt-auto">
                <div class="footer border-top border-bottom p-4 w-100 justify-content-center d-flex align-items-center">
                    <img class="" style="width:50px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnI_nD98BLjMzlF0Ppsctz-8qw2MAxHNOpY4Dj6kWaDOoavUSpm4d0IERdlhbjTxKvPA0&usqp=CAU"
                        alt="" />
                    <img class="" style="width:50px;"
                        src="https://s100.divarcdn.com/statics/2022/08/ecunion-logo.3ed4f870.png" alt="" />

                    <img class="" style="width:50px;" src="https://paydarweb.net/uploads/pages/1d2ab0.png" alt="" />
                </div>
                <div class="fs-5 icons w-100 d-flex justify-content-center align-center">
                    <a class="m-3 text-muted text-black-hover transition-all-1s" href=""><i class="bi bi-twitter"></i>
                    </a>
                    <a class="m-3 text-muted text-black-hover transition-all-1s" href=""><i class="bi bi-instagram"></i>
                    </a>
                    <a class="m-3 text-muted text-black-hover transition-all-1s" href=""><i class="bi bi-linkedin"></i>
                    </a>
                    <a class="m-3 text-muted text-black-hover transition-all-1s" href=""><i
                            class="bi bi-github"></i></a>
                </div>
            </div>
            <!-- footer END  -->
        </div>
    </div>
</div>


<!-- sidebar menu bottom -->
<div class="bottom-navbar-responsive fixed-bottom d-lg-none bg-light shadow-sm">
    <div class="d-flex justify-content-around align-items-center" dir="rtl">
        <a href="" role="button" class="nav-link text-muted " data-bs-toggle="dropdown">
            <span>دیوار من</span>
            <i class="bi bi-person"></i>
        </a>
    <!-- دیوار من dropdown -->
    <div class="dropdown-menu text-muted fs-11" dir="ltr">
        {% if user_status.login == True %}
        <a href="{{ url_for('profile') }}" class="dropdown-item px-4 text-black-muted-cs border-bottom transition-bgcolor-1s ">
            <div class="fs-11 ">
            <div class="px-1 py-2">
                <span>{{user_status.name}}</span>
                <i class="bi bi-person"></i>
            </div>
            <div class="p-1 ">
                <span class="text-muted-light">تلفن</span>
                <span class="text-muted-light">{{user_status.phone}}</span>
            </div>
            </div>
        </a>
        {% endif %}

        {% if not (user_status.login == True) %}
            <a href="{{url_for('login')}}"
            class="dropdown-item px-5 text-black-muted-cs border-bottom py-3 transition-bgcolor-1s">
            <span> ورود </span>
            <i class="bi bi-box-arrow-right"></i>
            </a>
        {% endif %}
            
            <a href="{{url_for('register')}}" class="dropdown-item px-5 text-black-muted-cs py-3 border-bottom transition-bgcolor-1s ">
            <span>ساخت حساب کاربری</span>
            <i class="bi bi-person-plus fs-8"></i>
            </a>

        {% if user_status.login == True %}
            <a href=" {{url_for('my_posts')}} " class="dropdown-item px-5 text-black-muted-cs border-bottom py-3 transition-bgcolor-1s ">
            <span>آگهی های من</span>
            <i class=" fs-8 bi bi-book pe-1"></i>
            </a>
        {% endif %}

        {% if user_status.login == True %}
        <a href="{{url_for('my_bookmarks')}}" class="dropdown-item px-5 text-black-muted-cs py-3 border-bottom transition-bgcolor-1s ">
            <span>نشان شده ها</span>
            <i class="bi bi-bookmark"></i>
        </a>
        <a href="{{url_for('my_notes')}}" class="dropdown-item px-5 text-black-muted-cs py-3 border-bottom transition-bgcolor-1s ">
            <span>یادداشت ها</span>
            <i class="bi bi-card-list"></i>
        </a>
        <a href="{{url_for('my_resent_seen')}}" class="dropdown-item px-5 text-black-muted-cs py-3 border-bottom transition-bgcolor-1s ">
            <span>بازدید های اخیر</span>
            <i class="bi bi-clock-history"></i>
        </a>
        {% endif %}
        
        <a href="" class="dropdown-item px-5 text-black-muted-cs py-3 border-bottom transition-bgcolor-1s ">
            <span>دیوار برای کسب و کار ها</span>
            <i class="bi bi-shop-window"></i>
        </a> 

        {% if user_status.login == True %}
            <a href="{{ url_for('logout') }}" class="dropdown-item px-5 text-black-muted-cs py-3 transition-bgcolor-1s ">
            <span>خروج</span>
            <i class="bi bi-box-arrow-right"></i>
            </a>
        {% endif %}

        </div>
        <!-- دیوار من dropdown -->
        
        {% if my_posts %}
        <div class="fs-8 my-3 transition-all-1s ">
            <a href="{{url_for('my_posts')}}" class="text-brand transition-all-1s">
                <i class="bi bi-box2 "></i>
                <span class="">آگهی ها من</span>
            </a>
        </div>
        {% else %}
        <div class="fs-8 my-3 transition-all-1s ">
            <a href="{{url_for('my_posts')}}" class="text-muted text-black-hover transition-all-1s ">
                <i class="bi bi-box2 "></i>
                <span class="">آگهی ها من</span>
            </a>
        </div>
        {% endif %}
    
        {% if my_bookmarks %}
        <div class="fs-8 my-3 transition-all-1s ">
            <a href="{{url_for('my_bookmarks')}}" class="text-brand  transition-all-1s ">
                <i class="bi bi-bookmark"></i>
                <span class=" ">نشان شده ها</span>
            </a>
        </div>
        {% else %}
        <div class="fs-8 my-3 transition-all-1s ">
            <a href="{{url_for('my_bookmarks')}}" class="text-muted text-black-hover  transition-all-1s ">
                <i class="bi bi-bookmark"></i>
                <span class=" ">نشان شده ها</span>
            </a>
        </div>
        {% endif %}
    
    
        {% if my_notes %}
        <div class="fs-8 my-3 transition-all-1s ">
            <a href="{{url_for('my_notes')}}" class="text-brand transition-all-1s ">
                <i class=" bi bi-journal-text"></i>
                <span class="">یادداشت ها</span>
            </a>
        </div>
        {% else %}
        <div class="fs-8 my-3 transition-all-1s ">
            <a href="{{url_for('my_notes')}}" class="text-muted text-black-hover transition-all-1s ">
                <i class=" bi bi-journal-text"></i>
                <span class="">یادداشت ها</span>
            </a>
        </div>
        {% endif %}
    
    
    
        {% if resent_seen %}
        <div class=" fs-8 my-2 transition-all-1s ">
            <a href="{{url_for('my_resent_seen')}}" class="text-brand  transition-all-1s ">
                <i class="bi bi-clock-history"></i>
                <span class="">بازدید های اخیر</span>
            </a>
        </div>
        {% else %}
        <div class=" fs-8 my-2 transition-all-1s ">
            <a href="{{url_for('my_resent_seen')}}" class="text-muted text-black-hover  transition-all-1s ">
                <i class="bi bi-clock-history"></i>
                <span class="">بازدید های اخیر</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}