
.navbar{
    font-family: sans !important;
    font-size: 1rem;
}

.fs-8{
    font-size:0.8rem;
}

.fs-10{
    font-size: 1.3rem;
    font-weight: bold;
}

.add-register-btn-header{
    background-color: var(--brand-color);
    
}

.add-register-btn-header{
    transition: background-color 1s;
}
.add-register-btn-header:hover{
    background-color: var(--brand-color-hover);
}

.nav-item:hover{
    background-color: #eee;
    transition: all .5s;
}
.btn-brand{
    background-color:var(--brand-color);
}
.btn-cs{
    font-size: .9rem;
}

.text-brand{
    color: var(--brand-color);
}

.btn-outline-brand{
    border:1px solid var(--brand-color);
}

.icon-save-share{
    color: black;
}
.icon-save-share:hover{
    color: black ;
}