{% extends 'base.html' %}


{% block body %}

{% with messages = get_flashed_messages(True) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} d-flex justify-content-between px-2 mt-5">
            <span class="btn btn-close" data-bs-dismiss="alert"></span>
            <span>{{message}}</span>
        </div>
        {% endfor %}
    {% endif %}

{% endwith %}


<div class="container mt-5 text-center">
    <div>
        <h1 class="mb-3">کد تایید به ایمیل شما ارسال شد</h1>
        <span class="text-muted" >لطفا کد تایید را در کادر زیر وارد کنید تا حساب کاربریتان فعال گردید</span>
    </div>
    <form action="{{ url_for('verification_code') }}" method="POST" class="mt-3" class="form-inline mt-3">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{csrf_token()}}">
        <div class="input-group">
            {{form.activate_code(class="form-control text-start",placeholder="کد تایید")}}
            <input type="hidden" name="uuid_user_value" value="{{user_id}}">
        </div>
        <div class="d-flex justify-content-between my-3 align-items-center">
            
            <button id="resent_btn" type="button" class="btn add-register-btn-header px-4 background-brand text-white">ارسال دوباره کد</button>


            {% if not error_time %}
                <div class="timer_container">
                    <span class="minute fs-2">03</span>
                    <span>:</span>
                    <span class="second fs-2">00</span>
                </div>
            {% endif %}
            <input type="submit" class="px-4 add-register-btn-header btn text-white background-brand" value="فعال سازی" >
        </div>
    </form>

    <div dir="rtl" class="mt-5 p-3 border rounded">
        <p class="h6 text-center">توجه کد ارسال شده رو به هیچ وجه در دسترس دیگران قرار ندهید ! </p>
        <span class="fs-10 text-muted " >در صورتی که ایمیل کدتایید را در صندوق ورودی مشاهده نکردید به قسمت spam (هرزنامه ها) مراجعه کنید</span>
        <br>
        <span class="fs-8 text-muted " >کد ارسال شده نهایتا بین 1 الی 2 دقیقه برای شما ایمیل خواهد شد</span>
        <br>
        <span class="fs-8 text-muted " > در صورت عدم دریافت کد تایید بر روی دکمه ارسال دوباره کد کلیک کنید تا کد تایید دوباره ای برای شما ارسال شود</span>
    </div>
</div>

<form id="resent_form" action="{{url_for('resend')}}" method="POST">
    
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="uuid_user_value" value="{{user_id}}">
</form>

{% if not hidden_timer %}
<script>
    let counter = 3;  
    let total_sec = counter * 60;
    let flag = false;
    let minute = document.querySelector('.minute');
    let second = document.querySelector('.second');
    function start_timer(){
        total_sec -= 1;
        if (flag){
            let timer_over=document.querySelector('.timer_container');
            return false;
        }
        let now_second = Math.round(total_sec % 60);
        let now_minute = Math.floor(total_sec / 60);
        now_second = now_second < 10 ? "0" + now_second : now_second;
        now_minute = now_minute < 10 ? "0" + now_minute : now_minute;
        minute.innerHTML = now_minute; 
        second.innerHTML = now_second; 
        flag = now_second == 0 && now_minute == 0 ? true: false;
        console.log(now_minute,now_second);
    }

    document.addEventListener("DOMContentLoaded", function(){
        window.setInterval(start_timer,1000); 

        const form_resend = document.getElementById('resent_form');
        const btn_resend = document.getElementById('resent_btn');
        btn_resend.addEventListener("click",(e)=>{
            form_resend.submit();
        })
    })
    


</script>

{% endif %}

{% endblock %}