
a {
    text-decoration: none !important;
    color: var(--color-gray) !important;
}

.navbar{
    font-family: sans !important;
    font-size: 1rem;
}

.fs-10{
    font-size:0.8rem;
}

.add-register-btn-header{
    background-color: var(--brand-color);
    
}

.add-register-btn-header:hover{
    
    background-color: var(--brand-color-hover);
    transition: all 1s;
}

.nav-item:hover{
    background-color: #eee;
    transition: all .5s;
}

.img-card{
    width: 120px;
    height: 120px;
}

.link-ind-page{
    text-decoration: none;
    color: inherit;
}
.link-ind-page:hover{
    color: inherit;
}

.fs-8{font-size: .9rem;}
.fs-10{font-size: .7rem;}

/* some media query For 767 px to fix cards  */
@media (max-width: 1166px){
    .fs-8{
        font-size: .9rem;
    }
}

@media screen and (max-width: 992px){
        /* Start Responsive Sidebar */

        aside.sidebar {
            display: none;
        }
    
        /* End Responsive Sidebar */
}

@media (max-width: 767px){
    .fs-8{
        font-size: 1rem;
    }
    .fs-10{
        font-size: .9rem;
    }
}
