<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./CSS/style.css">
    <!-- <link rel="stylesheet" href="./Boostrap/bootstrap.rtl.min.css"> -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- CSS Icon only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light">

        <!-- burger menu button -->
        <button class="btn" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-my">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse collapse" id="navbar-my">
            <div class="container-fluid">
                <div class="div">

                    <!-- sidebar -->
                    <div class="col-xl-2 col-lg-3 col-md-4 sidbar fixed-top">

                        <a href="" class="navbar-brand text-white d-block text-center mx-auto py-3 border-bottom">
                            <span class="" style="font-weight: bold;"> ادمین دیوار</span>
                        </a>

                        <div class="border-bottom  px-2">
                            <img src="./IMAGES/profile.jpg" class="rounded-circle ms-3 " style="width:50px;"
                                alt="admin-picture">
                            <span class="text-white">علی شریفی</span>
                        </div>

                        <ul class="h-100 nav-bar list-unstyled flex-column mt-3 px-2">

                            <li class="nav-item corrent">
                                <a href="" class="nav-link text-white p-3 mb-3">
                                    <i class="bi bi-house-fill fs-5"></i>
                                    <span class=" pe-2">داشبورد</span>
                                </a>
                            </li>

                            <li class="nav-item sidbar-link ">
                                <a href="" class="nav-link text-white p-3 mb-3">
                                    <i class="bi bi-people-fill fs-5"></i>
                                    <span class="pe-2">کاربران</span>
                                </a>
                            </li>

                            <li class="nav-item sidbar-link ">
                                <a href="" class="nav-link text-white p-3 mb-3">
                                    <i class="bi bi-graph-up-arrow"></i>
                                    <span class="pe-2">آمار</span>
                                </a>
                            </li>

                            <li class="nav-item sidbar-link ">
                                <a href="" class="nav-link text-white p-3 mb-3">
                                    <i class="bi bi-hdd-rack-fill "></i>
                                    <span class="pe-2">وضعیت سایت</span>
                                </a>
                            </li>

                            <li class="nav-item sidbar-link ">
                                <a href="" class="nav-link text-white p-3 mb-3">
                                    <i class="bi bi-gear-fill"></i>
                                    <span class="pe-2">تیم فنی</span>
                                </a>
                            </li>
                        </ul>


                    </div>
                    <!-- End of sidebar -->

                    <!-- top nav -->
                    <div class="col-xl-10  col-lg-9 col-md-8 fixed-top bg-dark me-auto top-navbar">
                        <div class="row p-3">

                            <div class="col-md-4">
                                <h3 class="text-light fs-5">داشبورد</h3>
                            </div>

                            <div class="col-md-5">
                                <form action="">
                                    <div class="input-group">
                                        <button class="btn text-danger btn-search">جستجو</button>
                                        <input type="text" class="form-control rounded" placeholder="جستجو ...">
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-3">
                                <ul class="navbar-nav flex-row justify-content-around align-items-center py-md-5">

                                    <li class="nav-item ">
                                        <a href="" class="navlink ">
                                            <i class="bi bi-chat-dots-fill fs-5 text-brnad "></i>
                                        </a>
                                    </li>

                                    <li class="nav-item ">
                                        <a href="" class="navlink ">
                                            <i class="bi bi-bell-fill fs-5 px-2 text-brnad "></i>
                                        </a>
                                    </li>

                                    <li class="nav-item me-md-auto">
                                        <a href="" class="navlink">
                                            <i class="bi bi-box-arrow-right fs-5 text-brnad"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Enf of top nav -->
                </div>
            </div>
        </div>

    </nav>
    <!-- End of Navigation -->



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- <script src="./Boostrap/jquery-3.6.1.slim.min.js"></script> -->
    <!-- <script src="./Boostrap/popper.min.js"></script> -->
    <!-- <script src="./Boostrap/bootstrap.bundle.min.js"></script> -->
</body>

</html>